
<!DOCTYPE html>
<html>
<head>
<title>Privacy Policy</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div id="content">
    <h1 style="text-align:center">Monster Hit and Run</h1>
<br/>
<br/>
<h1>Privacy Policy</h1>
<h3>Last updated Novembers 11, 2018</h3>
<p>
This Privacy Policy, part of our overall Terms of Service, describes how and when us collects, uses and shares your information when you use our Service. We will ask for your consent before collecting or using information for a purpose other than those that are set out in this Privacy Policy.
</p>

<h2>Information we collect</h2>
<p>
<b>Device information.</b> We don't collect device-specific information, such as your hardware model and operating system version.
</p>
<p>
<b>Application information.</b> We don't collect information about your installation, such us the operating system type and application version number.
</p>
<p>
<b>Information you give us.</b> When you contact us, we don't keep a record of your communication to help solve any issues you might be facing. We don't use your email address to inform you about our services, such as letting you know about upcoming changes or improvements.
</p>

<h2>Information we share</h2>
<p>
We do not share or disclose your private personal information unless necessary to comply with a law, regulation or legal request.
</p>
<p>
We don't share or disclose your non-private, aggregated or otherwise non-personal information, such as aggregate usage statistics.
</p>

<h2>Information security</h2>
<p>
We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification. 
</p>

<h2>Contact us : feedback.software.bk@gmail.com</h2>

</div>
</body>
</html>

